<%- include('partials/header'); -%>

    <header>
        <div class="cocktail">
            <img src="/cocktail.png" alt="">
        </div>
        <div class="headings">
            <h2>Fruit Cocktail Recipes</h2>
            <h3>By Chinmoy For Everyone</h3>
            <a href="/cocktail" class="btn">View Recipes</a>
        </div>
    </header>


    <%- include('partials/footer'); -%>